pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "InputUserData",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"additionalColumns": [
										{
											"name": "Processing_Time",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "registration_dttm",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "registration_dttm",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "id",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "id",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "first_name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "first_name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "last_name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "last_name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "email",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "email",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "gender",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "gender",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "ip_address",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "ip_address",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "cc",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "cc",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "country",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "country",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "birthdate",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "birthdate",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "salary",
												"type": "Double",
												"physicalType": "DOUBLE"
											},
											"sink": {
												"name": "salary",
												"type": "Double",
												"physicalType": "DOUBLE"
											}
										},
										{
											"source": {
												"name": "title",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "title",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "comments",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "comments",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Processing_Time"
											},
											"sink": {
												"name": "Processing_Time"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"SourceFile": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-07-26T08:21:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}